{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PAEM SAC</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bienvenido al Sistema de Cese</h1>
        </div>
    </header>
    <main>
        <div class="left-image"></div>
        <div class="content">
            <div class="container-menu">
                <h1>Seleccione lo que desea hacer</h1>
                <ul class="menu">
                    <li><a href="{% url 'cese1' %}">Cesar un empleado</a></li>
                    <li><a href="{% url 'cese8' %}">Revisar el cese de un empleado</a></li>
                    <li><a href="{% url 'cese9' %}">Generar reporte de cese</a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 PAEM SAC - Gestión de Recursos Humanos</p>
        </div>
    </footer>
</body>
</html>
